<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="header">
    <h1>Daftar</h1>
    <p>Buat akun baru dan cari yang anda butuhkan</p>
  </div>

  <form>
    <div class="form-field">
      <ion-icon name="person-outline"></ion-icon>
      <ion-input type="text" [(ngModel)]="form.name_tmu" [ngModelOptions]="{standalone: true}" placeholder="Nama Lengkap"></ion-input>
    </div>
    <div class="form-field">
      <ion-icon name="call-outline"></ion-icon>
      <ion-input type="text" [(ngModel)]="form.phone_tmu" [ngModelOptions]="{standalone: true}" placeholder="Masukan telepon anda"></ion-input>
    </div>
    <div class="form-field">
      <ion-icon name="key-outline"></ion-icon>
      <ion-input type="password" [(ngModel)]="form.password" [ngModelOptions]="{standalone: true}" placeholder="Masukan password anda"></ion-input>
    </div>

    <ion-button expand="block" (click)="doRegis()" color="secondary">Daftar sekarang</ion-button>
  </form>
</ion-content>
