<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card routerLink="/account-setting">
    <ion-card-header>
      <ion-item lines="none" class="ion-no-padding">
        <ion-card-title>Abigael Rakha</ion-card-title>
        <ion-icon name="settings" slot="end"></ion-icon>
      </ion-item>
      <ion-item lines="none" class="ion-no-padding">
        <ion-card-subtitle>+6285885436239</ion-card-subtitle>
      </ion-item>
    </ion-card-header>
  </ion-card>
</ion-content>
