<ion-content class="ion-padding">
  <!-- Image -->
  <div class="img-container">
    <ion-img src="../../assets/img/driver.jpg"></ion-img>
  </div>

  <!-- Message -->
  <div class="message-container">
    <h1 style="text-align: start;">Halo, <br>
      Siap untuk mengantar barang?
    </h1>
  </div>

  <!-- Buttons -->
  <div>
    <ion-button expand="block" color="warning" class="ion-margin-bottom" routerLink="/login">Masuk</ion-button>
    <ion-button expand="block" color="dark"  fill="outline" class="ion-margin-bottom" routerLink="/register">Daftar</ion-button>
  </div>

  <div class="message-container1">
    <h1>Ayo jadi mitra kami, dan gabung sekarang!</h1>
  </div>
