<ion-header class="ion-no-border" >
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="header">
    <h1>Masuk</h1>
    <p>Silahkan masuk terlebih dahulu</p>
  </div>
  <br>
  <form>
    <div>
      <ion-icon name="mail-outline"></ion-icon>
      <ion-input type="text" [(ngModel)]=form.phone_tmu [ngModelOptions]="{standalone: true}" placeholder="Masukan telepon anda"></ion-input>
    </div>
    <br>
    <div>
      <ion-icon name="lock-closed-outline"></ion-icon>
      <ion-input type="password" [(ngModel)]=form.password [ngModelOptions]="{standalone: true}" placeholder="Masukan password anda"></ion-input>
    </div>
    <br>
    <ion-button expand="block" (click)="doLogin()" color="warning">Masuk</ion-button>
    <br>
  </form>
</ion-content>
