<ion-item-group class="borderBottom">
  <ion-item lines="none" class="dashedBorderBottom">
    <ion-label>
      Panz Store
      <p>Kertawaluya</p>
      <ion-text>
        <p>
          Rp. 123312
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </p>
      </ion-text>
    </ion-label>
    <ion-note slot="end" color="dark">
      Open
      <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>
    </ion-note>
  </ion-item>
  <ion-item lines="none">
    <ion-label>
      <ion-text color="dark">
        <p>Item name x Quantity</p>
      </ion-text>
      <p class="time">Item</p>
      <ion-row>
        <ion-col size="6">
          <ion-button fill="outline" expand="block" color="primary">REORDER</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button fill="outline" expand="block" color="dark">GET HELP</ion-button>
        </ion-col>
      </ion-row>
    </ion-label>
  </ion-item>
</ion-item-group>